
* {
    margin: 0;
    padding: 0;
    border-width: auto;
    border-color: #1F2937;
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
}

.site .one {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 30px;
    border-width: 10;
    border-color: #1F2937;
    padding-left: 100px;

}

.one .one-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding-left: 30px;
    text-align: center;
}

.one-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
    text-align: center;
}

.link-text {
    margin-top: 30px;
    padding-right: 30px;
    color: #E5E7EB;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-align: center;
}

.site .two {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 100px;
    padding-bottom: 50px;
    border-left-color: #1F2937;
    border-right-color: #1F2937;
}

.two .flex-container {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.header-container {
    background-color: #1F2937;
    background-size:cover;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 20px solid #1F2937;
}

.three .flex-container-column {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300;
}

.site .three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px; 
}

img {
    padding-right: 10px;
    padding-left: 10px;
}

figure {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 10px;
    margin: 10px
}

.figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: max-content;
}

.border {
    border-radius: 128;
    border-color: #3882F6;
    border-width: 10px;
}

.big_picture {
    width: 500px;
    height: 300px;
}

.three-info-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.site .four {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px; 
}

.four .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 800px;
}

.four .name {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    align-items:flex-start;
}


.header-text-bold {
    font-size: 24px;
    margin: 5px;
    color: #E5E7EB;
}

.two-body {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.two-title {
    font-size: 48px;
    color: #F9FAF8;
}

.site .five {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Oxygen, Ubuntuen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px;
}

.five .blue_box {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    padding: 30px;
    height: 128px;
    border-radius: 10px;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
}

.five .flex-column-five {
    display: flex;
    flex-direction: column;
    justify-content:left;
}

.call_to_action {
    font-size: 36px;
    color: #F9FAF8;
    margin: 0;
}

.button {
    background-color: #3882F6;
    margin: 5px;
    border-radius: 10px;
    font-size: 18;
    font-weight: bold;
    color: #F9FAF8;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-bottom {
    background-color: #3882F6;
    border-color: solid #E5E7EB;
    border-width: 5px;
    margin: 5px;
    border-radius: 10px;
    font-size: 18;
    font-weight: bold;
    color: #F9FAF8;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.site .six {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    border-width: 10;
    border-color: #1F2937;
    padding: 30px;
    padding-bottom: auto;
}
.copyright {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}